body {
    background: #A3E6F6;
}

#small {
    width: 80px;
    height: 80px;
    background: url(img/small.png) center center no-repeat;
}

#big {
    width: 400px;
    height: 250px;
    background: url(img/big.jpg) center center no-repeat;
}
